<video data-sly-test="${properties.fileReference}" controls width="${properties.width}">
    <source src="${properties.fileReference @ context='unsafe'}"
            poster="${properties.previewUrl @ context='unsafe'}"
            type="video/${properties.extension}">
    Sorry, your browser doesn't support embedded videos.
</video>

<div data-sly-test="${(wcmmode.edit || wcmmode.preview) && !properties.fileReference}" class="cq-placeholder cmp-image cq-dd-image" data-emptytext="Frontify video"></div>