<div data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${properties.fileReference}"
     class="cmp-download${!wcmmode.disabled ? ' cq-dd-file' : ''}">
    <h3 class="cmp-download__title" data-sly-test.title="${properties.title}">${title}</h3>
    <dl data-sly-test="${properties.size || properties.extension }" class="cmp-download__properties">
        <div data-sly-test="${properties.size}" class="cmp-download__property cmp-download__property--size">
            <dd class="cmp-download__property-content">${properties.size}</dd>
        </div>
        <div data-sly-test="${properties.extension}" class="cmp-download__property cmp-download__property--format">
            <dd class="cmp-download__property-content">${properties.extension}</dd>
        </div>
    </dl>
    <a data-sly-test="${properties.fileReference}" class="cmp-download__action" href="${properties.fileReference}">
        <span class="cmp-download__action-text">${properties.label ? properties.label : 'Download'}</span>
    </a>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-download cq-dd-file'}"></sly>